*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

//Define what 1rem is
html {
    /* 10/16 = 0.625 * 16 = 10 */
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
}
